{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Stack - Bootcamp Blog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href={% static 'css/blog.css' %}>
    </head>
    <body>
        <div id="masthead">
            <nav class="navbar navbar-default ">
                <div class="container">
                     <div class="navbar-header">
                         <h3>Stack</h3>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bandNav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Menu -->
                    <div id="bandNav" class="collapse navbar-collapse">
                      <ul  class="nav navbar-nav navbar-right list-inline">
                        <li ><a href="/blog">Blog</a></li>
                        <li><a href="/blog/popular">Most Popular Posts</a></li>
                      </ul>
                    </div>
                   </div>
                  </nav>
            </div>
            <div class="container">
                <div class="row">
                    <h1> stack
                        <p id="logo" class="lead">The Trials of a Bootcamp Developer</p>
                    </h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="pannel-body">
                            <!-- blog entries -->
                            {%  block content %}
                            {% endblock %}
                        <!-- end blog entries -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
            </div>
        </footer>
        <!-- script references -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    </body>
</html>